Repository DLR-SC/ESID, pull requests merged in 2023-03, with the labels that each got.

#215 :beetle: Revert selected district highlighting
  docs/changelog.md
  frontend/src/components/Sidebar/DistrictMap.tsx
Labels: class:bug, type:web-frontend

#219 Add description to start day.
  docs/changelog.md
  frontend/public/locales/de/global.json5
  frontend/public/locales/en/global.json5
  frontend/src/components/Scenario.tsx
Labels: class:enhancement, type:web-frontend

#218 Add image to README.
  README.md
  docs/images/Overview.png
Labels: class:documentation

#220 Update Theme with more gradient colors
  docs/images/ThemeGuidelines-800x650.svg
  docs/images/ThemeGuidelines.svg
  frontend/README.md
  frontend/src/util/Theme.ts
Labels: class:documentation, class:enhancement, type:web-frontend

#222 Feature/show only integers
  docs/changelog.md
  frontend/src/components/Scenario.tsx
Labels: class:enhancement, type:web-frontend
