Repository DLR-SC/ESID, pull requests merged in 2023-10, with the labels that each got.

#306 Tooltip Refinements
  frontend/docs/changelog/changelog-de.md
  frontend/docs/changelog/changelog-en.md
  frontend/src/components/Scenario/CompartmentList.tsx
  frontend/src/util/Theme.ts
Labels: class:enhancement

#310 More Infection State Translations
  frontend/docs/changelog/changelog-de.md
  frontend/docs/changelog/changelog-en.md
  frontend/public/locales/de/backend.json5
  frontend/public/locales/de/global.json5
  frontend/public/locales/en/backend.json5
  frontend/public/locales/en/global.json5
  frontend/src/__tests__/store/DataSelectionSlice.test.ts
  frontend/src/components/Scenario/CompartmentList.tsx
  frontend/src/store/DataSelectionSlice.ts
  frontend/src/store/ScenarioSlice.ts
Labels: class:enhancement, type:web-frontend

#313 Initialize data base in backend with four aggregated compartments
  backend/src/api/fixtures/initial_data.py
  frontend/docs/changelog/changelog-de.md
  frontend/docs/changelog/changelog-en.md
Labels: type:web-backend
