Repository DLR-SC/ESID, pull requests merged in 2023-07, with the labels that each got.

#275 Rename and disable group filter button
  frontend/public/locales/de/global.json5
  frontend/public/locales/en/global.json5
  frontend/src/components/Scenario.tsx
Labels: class:enhancement, type:web-frontend

#280 Fix collect attributions lint error.
  frontend/tools/CollectAttributions.ts
Labels: class:bug, type:web-frontend

#282 Replace the DLR Logo with the LOKI logo and make it smaller
  frontend/docs/changelog/changelog-de.md
  frontend/docs/changelog/changelog-en.md
  frontend/public/assets/logo/DLRLogo.png
  frontend/public/assets/logo/DLRSignet.png
  frontend/public/assets/logo/DLR_Logo.png
  frontend/public/assets/logo/LOKI_compact.svg
  frontend/public/locales/de/global.json5
  frontend/public/locales/en/global.json5
  frontend/src/components/Sidebar/SidebarTabs.tsx
  frontend/webpack/webpack.common.js
Labels: class:enhancement, type:web-frontend

#281 Make frontend docker config more configurable
  .env.docker
  backend/Dockerfile
  docker-compose.yaml
  frontend/.env.docker
  frontend/Dockerfile
  frontend/docker-compose.yml
Labels: class:enhancement, type:web-frontend

#277 Upgrade line chart to amCharts 5
  .gitignore
  frontend/docs/changelog/changelog-de.md
  frontend/docs/changelog/changelog-en.md
  frontend/package-lock.json
  frontend/package.json
  frontend/public/locales/de/global.json5
  frontend/public/locales/en/global.json5
  frontend/src/components/SimulationChart.tsx
  frontend/src/store/DataSelectionSlice.ts
Labels: class:enhancement, type:web-frontend, class:refactoring
