Repository DLR-SC/ESID, pull requests merged in 2024-03, with the labels that each got.

#338 🔼 Upgrade to Node 20.11.1 (LTS)
  frontend/package-lock.json
  frontend/package.json
Labels: type:web-frontend, dependencies

#339 Add button to reset district map to initial view
  frontend/docs/changelog/changelog-de.md
  frontend/docs/changelog/changelog-en.md
  frontend/src/components/Sidebar/DistrictMap.tsx
Labels: class:enhancement, type:web-frontend

#340 :beetle: Fix wrong path in Dockerfile.
  frontend/Dockerfile
Labels: class:critical

#327 Add a editable reference date and a line connecting it to the chart.
  .reuse/dep5
  frontend/assets/third-party-attributions.json
  frontend/docs/changelog/changelog-de.md
  frontend/docs/changelog/changelog-en.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/__tests__/components/Scenario/CompartmentList.test.tsx
  frontend/src/__tests__/components/TopBar/PopUps/AccessibilityDialog.test.tsx
  frontend/src/__tests__/components/TopBar/PopUps/AttributionDialog.test.tsx
  frontend/src/__tests__/components/TopBar/PopUps/ImprintDialog.test.tsx
  frontend/src/__tests__/components/TopBar/PopUps/PrivacyPolicyDialog.test.tsx
  frontend/src/components/MainContent.tsx
  frontend/src/components/ReferenceDayConnector.tsx
  frontend/src/components/Scenario/CompartmentList.tsx
  frontend/src/components/Scenario/index.tsx
  frontend/src/components/SimulationChart.tsx
  frontend/src/components/TopBar/ApplicationMenu.tsx
  frontend/src/components/shared/MUILocalization.tsx
  frontend/src/store/LayoutSlice.ts
  frontend/src/store/index.ts
  frontend/src/util/i18n.ts
Labels: class:enhancement, type:web-frontend

#341 :wrench: Update node version in Dockerfile.
  frontend/Dockerfile
Labels: class:enhancement, type:web-frontend

#342 Fix vite config to generated relative paths.
  frontend/vite.config.mts
Labels: class:bug, class:critical

#343 New SVG icons for District Map Zoom Controls
  frontend/assets/svg/zoom_in_white_24dp.svg
  frontend/assets/svg/zoom_in_white_24dp.svg.license
  frontend/assets/svg/zoom_out_map_white_24dp.svg
  frontend/assets/svg/zoom_out_map_white_24dp.svg.license
  frontend/assets/svg/zoom_out_white_24dp.svg
  frontend/assets/svg/zoom_out_white_24dp.svg.license
  frontend/docs/changelog/changelog-de.md
  frontend/docs/changelog/changelog-en.md
  frontend/package-lock.json
  frontend/src/components/Sidebar/DistrictMap.tsx
Labels: class:enhancement, type:web-frontend

#346 Add translations for the baseline scenario.
  frontend/docs/changelog/changelog-de.md
  frontend/docs/changelog/changelog-en.md
  frontend/locales/de-backend.json5
  frontend/locales/en-backend.json5
Labels: class:enhancement

#347 reorder scenarios
  frontend/src/util/Theme.ts
Labels: class:enhancement, type:web-frontend, class:refactoring

#351 enable import_simulation to run without user-import when simulation exists
  backend/src/api/management/commands/import_simulation.py
Labels: class:enhancement, type:web-backend
